# TeX related files
/presentations/build/
/exams/build/
/tutorials/build/
/assignments/build/
/lectures/build/
/lectures/weekly_slides/*/tex/build/
/tex_pkg/build/
/sistemas_digitales_avanzados/weekly_slides/PLDs_01/tex/build/
*/build/
*.bak
*.mpf
*.qpf
*.qsf
*.qws
*.bak
*.mti
*.wlf
*.qtl
*.tmp
*_lib*
*.backup
*.vstf
*~
*transcript
*_info
*incremental_db
*c5_pin_model_dump.txt
*_MACOSX
*output_files/
*db/
*tcl_stacktrace.txt
*DS_Store
*/*/work/
*/*/*/work/
*/*/*/*/work/
*/*/*/*/*/work/
*/*/*/*/*/*/work/
assignments/MIPS/build/*.aux
assignments/MIPS/build/*.out
assignments/MIPS/build/*.log
assignments/MIPS/build/*.gz
source_codes/s/cortex-m0p/*
